body {
    background-color: aqua;
}

.container {
    display: grid;
    grid-template-columns: 6fr 1fr;
    height: 97vh;
    width: 100%;
}

.lake {
    aspect-ratio: 2 / 1;
    grid-column: 1 / 2;
    display: grid;
    grid-template: repeat(4, 1fr)/ repeat(8, 1fr);
    max-height: 97vh;
}



.item {
    position: absolute;
    top: 10%;
    right: 9%;
    z-index: 997;
    width: 80%;
}

.lily-pad {
    position: relative;
    background-color: green;
    border: 10px solid darkgreen;
    aspect-ratio: 1;
    margin: 10px;
    border-radius: 35%;
}