body {
    background-color: aqua;
}

.container {
    background-color: aqua;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.frog {
    position: absolute;
    top: 10%;
    right: 9%;
    z-index: 998;
    width: 80%;
}

.bug {
    position: absolute;
    top: 10%;
    right: 9%;
    z-index: 997;
    width: 80%;
}

.lily-pad {
    position: relative;
    box-sizing: border-box;
    background-color: green;
    border: 1rem solid darkgreen;
    display: inline-block;
    aspect-ratio: 1;
    margin: .8rem;
    border-radius: 35%;
}

